:root {
}

html, body {
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  /*background-color: #2d1912;*/
  background-image: radial-gradient(#9a5e4a, #2d1912);
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: white;
}

header .headerPic {
  background: center 100%/contain no-repeat;
  width: 50vw;
  min-height: calc(50vw * 0.75);
  filter: sepia(100%) hue-rotate(350deg);
}

header .quote {
  font-family: 'Patrick Hand', cursive;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

main {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Footer */
footer {
  background-color: #2d1912;
  color: #ddd;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

footer a {
  color: #39cccc;
}

footer .social {
  margin: 1rem;
}

footer .social h3 {
  margin-bottom: 0;
}

footer .social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15vw;
}

footer .social a {
  color: #aaa;
  margin: 0 1rem;
}

footer .social a:hover {
  color: #ddd;
}

@media (min-width: 50rem) {
  /* Footer */
  footer .social ul {
    font-size: 3rem;
    justify-content: center;
  }
}
