:root {
}

html, body {
  margin: 0;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: SlateGray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header {
  background-color: #111;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 3em;
}

header .logo, header h1 {
  font-size: 1.3rem;
}

header .logo {
  margin: 1rem;
}

main .photo {
  display: block;
  background: center/cover no-repeat;
  margin: 5px;
  width: 60vw;
  height: calc(60vw * 0.5625);

  max-height: 50vh;
}

main .carousel {
  width: 80vw;
  margin: auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

body.showLightbox .lightbox {
  display: flex;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 5px 10px rgba(255,255,255,0.5);
  animation: 1s 1 forwards resize;
}

@keyframes resize {
  from { max-width: 20%; max-height: 20%;   }
  to   { max-width: 90%; max-height: 90%; }
}

/* Footer */
footer {
  background-color: #111;
  color: #ddd;
  text-align: center;
  padding: 1px;
}

footer a {
  color: #39cccc;
}

footer .social {
  margin: 1rem;
}

footer .social h3 {
  margin-bottom: 0;
}

footer .social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15vw;
}

footer .social a {
  color: #aaa;
  margin: 0 1rem;
}

footer .social a:hover {
  color: #ddd;
}

@media (min-width: 50rem) {
  /* Footer */
  footer .social ul {
    font-size: 3rem;
    justify-content: center;
  }
}
